<div class="col mb-4">
    <div class="card animated fadeIn fast">
        <img src="../../../assets/Images/camioneta.png" width="60" height="250" alt="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{vehiculo.v_marca}}</h5>
            <p class="card-text">{{vehiculo.v_placa}}</p>
            <p class="card-text">Seleccione "Ver mas" para mas caracteristicas del Vehículo y poder realizar un servicio </p>
            <button (click)="verVehiculo()" type="button" class="btn btn-outline-info btn-block"> Ver más</button>
        </div>
    </div>
</div>