<div id="modalVehiculo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"> Nuevo vehiculo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value )">
                        <h5>Información del vehículo</h5>
                        <div class="form-row">

                            <div class="form-group col-md-6 ">

                                <div class="form-group">
                                    <label for="Nombre del propietario">Nombre del propietario:</label>
                                    <input type="text" name="Nombre del propietario" required id="Nombre del propietario" class="form-control" placeholder="Nombre del propietario">
                                </div>
                                <div class="form-group ">
                                    <label for="Matrícula">Matrícula:</label>
                                    <input type="text" name="Matrícula" id="Matrícula" required class="form-control" placeholder="Matrícula">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="form-group ">
                                    <label for="Placa">Placa:</label>
                                    <input type="text" name="Placa" id="Placa" required class="form-control" placeholder="Placa">
                                </div>
                                <div class="form-group ">
                                    <label for="Marca"> Marca:</label>
                                    <select name="Marca" id=Marca class=" form-control"> 
                                        <option value= "Chevrolet">Seleccione </option>
                                        <option value= "Chevrolet">Chevrolet </option>
                                        <option value= "Hino">Hino </option>
                                        <option value= "Toyota">Toyota </option>
                                        <option value= "Mazda">Mazda </option>
                                        <option value= "Mercedes Benz">Mercedes Benz </option>
                                        <option value= "Hyundai">Hyundai </option>
                                     </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">


                                <div class="form-group ">
                                    <label for="Color"> Color:</label>
                                    <select name="Color" id=Color class=" form-control">
                                        <option value= "Chevrolet">Seleccione </option>
                                        <option value= "Blanco">Blanco </option>
                                        <option value= "Rojo">Rojo </option>
                                        <option value= "Negro">Negro </option>
                                        <option value= "Gris">Gris </option>
                                        <option value= "Verde ">Verde </option>
                                    </select>
                                </div>
                                <div class="form-group ">
                                    <label for="Año"> Año:</label>
                                    <select name="Año" id=Año class=" form-control">
                                        <option value= "Chevrolet">Seleccione </option>
                                        <option value= "2019">2019 </option>
                                        <option value= "2018">2018 </option>
                                        <option value= "2017">2017 </option>
                                        <option value= "2016">2016 </option>
                                        <option value= "2015">2015 </option>
                                        <option value= "2014">2014 </option>
                                        <option value= "2013">2013 </option>
                                        <option value= "2012">2012 </option>
                                        <option value= "2011">2011 </option>
                                        <option value= "2010">2010 </option>
                                        <option value= "2009 ">2009</option>
                                        <option value= "2008">2008 </option>
                                        <option value= "2007">2007 </option>
                                        <option value= "2006">2006 </option>
                                        <option value= "2005">2005 </option>
                                        </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6">

                                <div class="form-group ">
                                    <label for="Tipo"> Tipo:</label>
                                    <select name="Tipo" id=Tipo class=" form-control">
                                        <option value= "Chevrolet">Seleccione </option>
                                        <option value= "Camión">Camión </option>
                                        <option value= "Camioneta">Camioneta </option>
                                        <option value= "Buseta">Buseta </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-outline-primary float-right mb-5 ">Guardar </button>
                    </form>
                </div>
            </div>
        </div>
    </div>