<div id="modalVehiculo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle"> Nuevo vehiculo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group col-md-4">
                            <h5>Información del vehículo</h5>
                            <div class="form-group col-md-6">
                                <label for="Placa">Placa:</label>
                                <input type="text" name="Placa"  required id="Placa" class="form-control" placeholder="Placa">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Marca"> Marca:</label>
                                <input type="text" name="Marca" required id="Marca" class="form-control" placeholder="Marca">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="Color"> Color:</label>
                                <input type="text" name="Color" required id="Color" class="form-control" placeholder="Color">
                            </div>

                            <div class="form-group col-md-6">
                                <label for="Tipo"> Tipo:</label>
                                <input type="text" name="Tipo"  required id="Tipo" class="form-control" placeholder="Tipo">
                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary float-right mb-5">Guardar</button>

                    </form>
                </div>
            </div>
        </div>
    </div>