<div class="card">
    <h5 class="card-header">Usuarios</h5>
    <div class="card-body">
        <form [formGroup]="signupForm" (ngSubmit)="enviar(signupForm.value )">
            <h5>Información del usuario</h5>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <h6>Seleccione su foto</h6>
                    <input type="file" id="Imagen" (change)="giveImage($event)">

                    <div>
                        <p> </p>
                    </div>
                    <div class="form-group col-md-6">
                        <label for=" Cédula">Cédula: </label>
                        <input formControlName="cedula" type="text" name="Cédula" id="Cédula" required class="form-control" placeholder="Cédula">
                        <div class="alert-danger" *ngIf="cedula.invalid && (cedula.dirty || cedula.touched)">
                            <div class="container-error-message" *ngIf="cedula.errors.required">
                                Cédula es obligatoria
                            </div>
                            <!--<div class="container-error-message" *ngIf="cedula.errors.maxlength">
                                Cédula debe tener 10 dígitos
                            </div>-->
                        </div>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <div class="form-group col-md-6">
                        <label for="Nombres">Nombres:</label>
                        <input formControlName="nombre" type="text" name="Nombres" id="Nombres" required class="form-control" placeholder="Nombres">
                        <div class="alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                            <div class="container-error-message" *ngIf="nombre.errors.required">
                                Nombre es obligatorio
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Apellidos">Apellidos:</label>
                        <input formControlName="apellido" type="text" name="Apellidos" id="Apellidos" required class="form-control" placeholder="Apellidos">
                        <div class="alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                            <div class="container-error-message" *ngIf="apellido.errors.required">
                                Apellido es obligatorio
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group col-md-6">
                    <div class="form-group col-md-6">
                        <label for="Dirección">Dirección:</label>
                        <div class="form-group ">
                            <button type="button" class="btn btn-outline-primary float-xl-none t mb-5" data-toggle="modal" data-target="#modalDireccion">
                                Agregar Direccion
                            </button>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Celular">Celular:</label>
                        <input formControlName="celular" type="text" name="Celular" required id="Celular" class="form-control" placeholder="Celular">
                        <div class="alert-danger" *ngIf="celular.invalid && (celular.dirty || celular.touched)">
                            <div class="container-error-message" *ngIf="celular.errors.required">
                                Celular es obligatorio
                            </div>
                            <!-- <div class="container-error-message" *ngIf="celular.errors.minlength">
                                Celular debe tener 10 dígitos
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Correo Electronico">Correo Electronico:</label>
                        <input formControlName="correo" type="text" name="Correo Electronico" required pattern="email" id="Correo Electronico" class="form-control" placeholder="Correo Electronico">
                        <div class="alert-danger" *ngIf="correo.invalid && (correo.dirty || correo.touched)">
                            <div class="container-error-message" *ngIf="correo.errors.required">
                                Correo es obligatorio
                            </div>
                            <!-- <div class="container-error-message" *ngIf="correo.errors.minlength">
                                Correo debe tener minimo 6 caracteres
                            </div>-->

                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="form-group col-md-6">
                        <label for="Contraseña ">Contraseña</label>
                        <input formControlName="contrasenia" type="password" class="form-control" id="exampleInputPassword1" required placeholder="Contraseña">
                        <div class="alert-danger" *ngIf="contrasenia.invalid && (contrasenia.dirty || contrasenia.touched)">
                            <div class="container-error-message" *ngIf="contrasenia.errors.required">
                                Contraseña es obligatoria
                            </div>
                            <!-- <div class="container-error-message" *ngIf="contrasenia.errors.minlength">
                                Contraseña debe tener minimo 6 caracteres
                            </div>-->
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Contraseña ">Confirmar Contraseña</label>
                        <input formControlName="contraseniaconfirmacion" type="password" class="form-control" id="exampleInputPassword1" required placeholder="Contraseña">
                        <div class="alert-danger" *ngIf="contraseniaconfirmacion.invalid && (contraseniaconfirmacion.dirty || contraseniaconfirmacion.touched)">
                            <div class="container-error-message" *ngIf="contraseniaconfirmacion.errors.required">
                                Contraseña es obligatoria
                            </div>
                            <!-- <div class="container-error-message" *ngIf="contraseniaconfirmacion.errors.minlength">
                                Contraseña debe tener minimo 6 caracteres
                            </div>-->
                        </div>
                    </div>
                    <h4>Seleccione el tipo de usuario</h4>
                    <div class="form-group col-md-6">
                        <button type="button" class="btn btn-outline-primary float-xl-none t mb-5" data-toggle="modal" data-target="#modalTarjeta">
                    Cliente</button>

                        <button type="button" class="btn btn-outline-primary float-xl-none t mb-5" data-toggle="modal" data-target="#modalVehiculo">   
                        Transportista
                    </button>

                    </div>
                    <button (click)="postQuery()" [disabled]="signupForm.valid" type="submit" class="btn btn-outline-primary float-xl-none
                    t mb-5">
                    Aceptar</button>

                </div>

            </div>
        </form>
    </div>
</div>
<app-model-vehiculo></app-model-vehiculo>
<app-modal-tarjeta></app-modal-tarjeta>
<app-modal-direccion></app-modal-direccion>