<div class="card">
    <h5 class="card-header"> Transportistas </h5>
    <div class="card-body">
        <form action="">

            <div class="form-row">
                <div class="form-group col-md-4">
                    <h5>Información del Transportista</h5>
                    <div class="form-group col-md-6">
                        <label for="Nombre Conductor">Nombre Conductor:</label>
                        <input type="text" name="Nombre Conductor" id="Nombre Conductor" class="form-control" placeholder="Nombre Conductor">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Apellido">Apellido:</label>
                        <input type="text" name="Apellido" id="Apellido" class="form-control" placeholder="Apellido">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Telefono">Telefono:</label>
                        <input type="text" name="Telefono" id="Telefono" class="form-control" placeholder="Telefono">

                    </div>
                </div>
                <div class="form-group col-md-4">
                    <h5>Información del Destino</h5>
                    <div class="form-group ">

                        <label for="Punto de partida">Punto de partida:</label>

                        <form class=" form-inline my-2 my-lg-0">
                            <input type="text" name="Punto de partida" id="Punto de partida" class="form-control" placeholder="Punto de partida">
                            <button type="submit" class="btn btn-primary  my-2 my-sm-0" [routerLink]="['/formulario-servicio/mapa']">Buscar </button>
                        </form>

                        <label for="Punto de partida">Punto de Llegada:</label>
                        <form class=" form-inline my-2 my-lg-0">
                            <input type="text" name="Punto de Llegada" id="Punto de Llegada" class="form-control" placeholder="Punto de Llegada">
                            <button type="submit" class="btn btn-primary  my-2 my-sm-0" [routerLink]="['/home']">Buscar </button>
                        </form>
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Cantidad de Km"> Cantidad de Km:</label>
                        <input type="text" name="Cantidad de Km" id="Cantidad de Km" class="form-control" placeholder="Cantidad de Km">
                    </div>

                    <div class="form-group col-md-6">
                        <label for="Total"> Tipo:</label>
                        <input type="text" name="Total" id="Total" class="form-control" placeholder="Total">
                    </div>
                    <button type="submit" class="btn btn-primary float-xl-none
                        t mb-5" [routerLink]="['/home']">Aceptar </button>
                </div>

            </div>
        </form>
    </div>
</div>