<div class="card">
    <h5 class="card-header">Cliente</h5>
    <h4> </h4>
    <div class="card-body">
        <form action="">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <h5>Forma de pago</h5>
                    <div class="form-group col-md-6">
                        <label for="Titular de la tarjeta">Titular de la tarjeta:</label>
                        <input type="text" name="Titular de la tarjeta" required id="Titular de la tarjeta" class="form-control" placeholder="Titular de la tarjeta">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Número de la tarjeta">Número de la tarjeta:</label>
                        <input type="text" name="Número de la tarjeta" required id="Número de la tarjeta" class="form-control" placeholder="Número de la tarjeta">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Fecha">Fecha:</label>
                        <input type="text" name="Fecha" id="Fecha" required class="form-control" placeholder="Fecha">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Código de seguridad">Código de seguridad:</label>
                        <input type="text" name="Código de seguridad" required id="Código de seguridad" class="form-control" placeholder="Código de seguridad">
                    </div>
                    <button type="submit" class="btn btn-primary float-xl-none
                        t mb-5" [routerLink]="['/home']">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>