<div class="col mb-4">
    <div class="card animated fadeIn fast">
        <img src="../../../assets/Images/user.png" width="60" height="250" alt="" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{transportista.nombre}}</h5>
            <p class="card-text">{{transportista.apellido}}</p>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <button (click)="verTransportista()" type="button" class="btn btn-outline-info btn-block"> Ver más</button>
        </div>
    </div>
</div>