<!-- Modal -->
<div class="modal fade" id="ModalFormulario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"> Nuevo Estudiante</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div clas="form-group">
                        <label for="Cedula"></label>
                        <input type="text" name="Cedula" id="Cedula" class="form-control" placeholder="Cedula">
                    </div>
                    <div clas="form-group">
                        <label for="Nombre"></label>
                        <input type="text" name="Nombre" id="Nombre" class="form-control" placeholder="Nombre">
                    </div>
                    <div clas="form-group">
                        <label for="Apellido"></label>
                        <input type="text" name="Apellido" id="Apellido" class="form-control" placeholder="Apellido">
                    </div>


                    <button type="submit" class="btn btn-primary float-right mb-5">Guardar Estudiante</button>
                </form>


            </div>

        </div>
    </div>
</div>